.playerContainer {
  padding: 3rem 4rem;
  width: 26.5rem;
  height: 100vh;

  background: var(--purple-500);
  color: var(--white);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  // @media only screen and (max-width: 600px) {
  //   display: flex;
  //   flex-direction: column;
  //   height: 10vh;
  //   width: 100%;
  //   position: fixed;
  //   // justify-content: flex-start;
  //   align-items: center;
  //   justify-content: space-between;
  //   min-height: 100px;
  //   margin-top: 100%;
    
  // }

  header {
      display: flex;
      align-items: center;
      gap: 1rem;
    //   @media only screen and (max-width: 600px) {
    //     display: flex;
    //   justify-content: flex-start;
    //   align-items: center;
    //  flex-direction: column;
    //  margin-left: -4.5rem;
    //  margin-top: -3rem;
    //  margin-right: 2rem;
       
    
    //   }
  }

  strong {
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      // @media only screen and (max-width: 600px) {
      // display: none

      // }
  }

  footer {
      align-self: stretch;

      &.empty {
          opacity: 0.5;
      }
      // @media only screen and (max-width: 600px) {
      //   display: flex;
      //   flex-direction:row;
      //   margin-top: -3.5rem;
      //   padding-top: -4.5rem;
      //   padding-left: 0rem

      // }
  
    }
}

.currentEpisode{
  text-align: center;
  // @media only screen and (max-width: 600px) {
  //   max-height: 5rem;
  //   max-width: 5rem;
  //   margin-top: -2rem;
    
  // }


  img{
      border-radius: 1.5rem;
  }

  strong{
      display: block;
      margin-top: 2rem;
      font: 600 1.25rem Lexend, sans-serif;
      line-height: 1.75rem;
  }

  span{
      display: block;
      margin-top: 1rem;
      opacity: 0.6;
      line-height: 1.5rem;
  }
}

.emptyPlayer {
  width: 100%;
  height: 20rem;
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  background: linear-gradient(143.8deg, rgba(34, 31, 31, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

  padding: 4rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  // @media only screen and (max-width: 600px) {
  //   margin-left: -3rem;
  //   margin-top: -3rem;
  //   margin-right: -3rem;
    
  //   padding: 3rem;
  //   width: 20%;
  //   height: 10vh;
  // justify-content: center;
  // align-items: center;


  // }
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  // @media only screen and (max-width: 600px) {
  //   // margin-left: 2rem;
  //   padding-left: 3rem;
  //   flex-wrap: wrap;
  //   margin-top: 2rem
  // }


  span {
      display: inline-block;
      width: 4rem;
      text-align: center;
  }

  .slider {
      flex: 1;

      .emptySlider {
          width: 100%;
          height: 4px;
          background: var(--purple-300);
          border-radius: 2px;
      }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    transition: filter(0.2s);

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:hover:not(:disabled){
      filter: brightness(0.75);
    }

    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);

      &:hover {
        filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
      }
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--purple-300);

      &:hover:not(:disabled){
        filter: brightness(0.95);
      }
    }
  }
}

// mobile

@media(max-width: 1400px) {
  .playerContainer {
      width: 26rem;
      padding: 3rem;
  }
}

@media(max-width: 1000px) {
  .playerContainer {
      width: 100%;
      height: 90vh;
      max-height: 768px;
  }
  .currentEpisode {    
    div {
        width: 25rem;
        height: 20rem;
    }
  
}}

@media(max-width: 500px) {
  .currentEpisode {    
      div {
          width: 15rem;
          height: 15rem;
      }
  }

  .emptyPlayer {
      width: 15rem;
      height: 15rem;
  }
}

@media(max-height: 768px) {
  .playerContainer {
      padding: 2rem;
  }
}

@media(max-height: 640px) {
  .playerContainer {
      padding: 1rem;

      .header {
          margin-bottom: 1rem;
      }
  }

  .currentEpisode {    
      .div {
          width: 15rem;
          height: 15rem;
      }

      .strong {
          margin-top: 1rem;
          font-size: 1rem;
          line-height: 1.5rem;
      }

      span {
          margin: .5rem 0 .75rem;
          font-size: .875rem;
          line-height: 1.25rem;
      }
  }

  .emptyPlayer {
      width: 15rem;
      height: 15rem;
  }

  .buttons {
      margin-top: 1.5rem;
  }
}
